
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>برنامه هفتگی</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses/courseList.css' %}">
</head>
<body>

<h2>برنامه هفتگی</h2>

<!-- btn for go to courses -->
<div class="buttons">
    <a href="{% url 'course_list' %}" class="add-btn">بازگشت به انتخاب واحد</a>
    <a href="{% url 'weekly_schedule' %}" class="add-btn">مشاهده دوباره برنامه هفتگی</a>
</div>

<table>
    <thead>
        <tr>
            <th>روز</th>
            {% for time_slot, time_slot_obj in time_slots_with_objects %}
                <th>{{ time_slot }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for day in days_of_week %}
        <tr>
            <td class="day">{{ day }}</td>
            {% for time_slot, time_slot_obj in time_slots_with_objects %}
                <td>
                    {% for course in courses %}
                        {% if day in course.class_days %}
                            {% if course.start_time <= time_slot_obj.0 and course.end_time >= time_slot_obj.1 %}
                                {{ course.name }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
