
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>برنامه هفتگی</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses/courseList.css' %}">
</head>
<body>

<h2>برنامه هفتگی</h2>

<!-- btn for go to courses -->
<div class="search">
    <a href="{% url 'course_list' %}" class="add-btn">بازگشت به انتخاب واحد</a>
    <a href="{% url 'weekly_schedule' %}" class="add-btn">مشاهده برنامه هفتگی</a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="add-btn">خروج</button>
    </form>
</div>
 
<table>
    <thead>
        <tr>
            <th>روز</th>
            {% for time_slot in time_slots %}
               {% for time_sheet, time_11 in time_sheets.items %}
                   {% if time_slot == time_sheet %}
                      <th>{{ time_11 }}</th>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for days in days_of_week %}
        <tr>
            <td class="day">{{ days }}</td> 
            {% for time_slot in time_slots %}
              <td class="course">
                {% for course in courses %}
                    {% if course.class_days == days and course.start_time == time_slot %}
                        {{ course.name }}
                    {% endif %}
                {% endfor %}
              </td>            
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
