{% extends 'user/base.html' %}

{% block title %}ورود{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/register.css' %}">
{% endblock %}

{% block content %}
    <div class="form">
        <div class="title">ورود</div>
        <form method="post">
            {% csrf_token %}
            <div class="input-container">
                <label for="id_username">شماره دانشجویی</label>
                <input type="text" name="student_number" id="student_number" required>
            </div>
            <div class="input-container">
                <label for="id_password">رمز عبور</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit" class="submit">ورود</button>
        </form>


        <div class="links">
            <a href="{% url 'password_reset' %}"> رمز عبور خودرا فراموش کرده‌اید؟ </a>
        </div>

    </div>
{% endblock %}
